# Build
/build/
/cmake-build-*/
*.o
*.a
*.so
*.dylib
.cache/
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
dist/
_skbuild/
build/

# Docs
docs/_build/
docs/doxygen/


# Editor / OS
.DS_Store
*.swp
*~
.idea/
.vscode/
